{% extends 'base.html.twig' %}

{% block body %}

    {% if user %}
        <h5>Congratulations</h5>
        <p>Your account is confirmed! You can now sign in</p>
        <a href="{{ path('security_login') }}">Login here</a>
    {% else %}
        <p>Something went wrong , Please check your email</p>
    {% endif %}

{% endblock %}


